{% extends "layout.html" %}

{% block right_button %}
<div class="right-btn"><a href='/login' class="pure-menu-link">ログイン</a></div>
{% endblock %}

{% block contents %}
<div><img class="logoimg　pure-img pure-u-1 pure-u-sm-1 pure-u-md-3-4 pure-u-lg-3-5" src="/static/logo.png"></div>
<div class="explain">本気で笑いを追求する、硬派で先進的な大喜利サイト</div>
<div><a class="new-btn pure-button pure-button-primary" href="#">今すぐ始める</a></div>
<div class="topboke-wrapper pure-u-4-5 pure-u-sm-2-3 pure-u-md-3-4 pure-u-lg-3-5">
    <h1>傑作ボケ</h1>
    <div class="topboke">
    <p class="odai">お題：そんなことをコイントスで決めるな。どんなこと？</p>
    <h2 class="boke">ぼくの親権</h2>
    </div>
    <div class="more-kessaku"><a href="">→もっと見る</a></div>
    </div>
<div class="kodawari">
      <h3>ボケの質にこだわっています</h3>
      <p class="pure-u-2-3 pure-u-sm-2-3 pure-u-md-3-4 pure-u-lg-3-5">
        大喜利の塔では、運営による<span style="color:red">一次審査</span>を通過したボケのみを掲載しております。<br>
        皆様には質の高いボケのみを楽しんでいただけます。
      </p>
</div>
<div class="rule-wrapper pure-u-4-5 pure-u-sm-2-3 pure-u-md-3-4 pure-u-lg-3-5">
     <h1>遊び方</h1>
 <div class="rule">
       <p>1.お題に対してボケます</p>
       <p>2.ボケが一次審査を通過すると掲載されます。（<a href="#">審査基準はこちら</a>）</p>
       <p>3.掲載されたボケのなかで、投票により順位が決まります。</p>
</div>
</div>
    <div class="bottom-new">
      <h1>あなたの大喜利力を見せてください！</h1>
      <div><a class="bottom-btn pure-button pure-button-primary" href="#">新規登録はこちら</a></div>
      <p>登録は1分で簡単に出来ます。</p>
    </div>


{% endblock %}
